@import "mixins"

.main-container
	max-width: $maxContentWidth
	margin: 0 auto
	text-align: left

.item-list
	display: flex
	flex-direction: column
	margin: 0

.section-heading
	padding: 20px
	margin: 10px
	display: inline-block
	font-weight: 700
	font-family: 'Montserrat', sans-serif
	cursor: pointer
	color: black
	@include sectionHeaderTextSize()
