<section>
	<div class="padd flex about-section">
		<div class="about">
			<h3 class="section-header-text">Software Developer</h3>
			<hr class="fade">
			<p class="about-text">
				Hi, I'm {{ data.name }}! Thanks for visiting my website!
				<br/><br/>
				I am a {{ data.schoolTerm }} Honours Computer Science student at the University of Waterloo. My passion lies in software development, especially low level languages like C++, although I am also proficient in Java, JavaScript, and Bash. My main interests are in Operating Systems development as well as Compiler & Interpreter development. I am always eager to learn new concepts and technologies. Right now I am trying to get started with Golang. I find the incredible performance even with a garbage collector and the unique non C-based design of Golang very exciting.
				<br/><br/>
				I'm <b>looking for {{ data.internshipDate }} internship opportunities!</b> Please reach out through email <a href="{{getEmail()}}">dapeet@uwaterloo.ca</a> or LinkedIn <a href="{{getLinkedIn()}}">dapeet</a> if you feel that I would be a good fit on your team!
				<br/><br/>
				<b>Preferred Positions:</b> C++ Developer <br/>
				<b>Preferred Languages:</b> C/C++, Java, Bash, JavaScript
			</p>
			<a (click)="openResume()" href="#" class="btn">
				Resume  <i class="far fa-file-alt"></i>
			</a>
			<a (click)="openGithub()" href="#" class="btn">
				Github  <i class="fab fa-github"></i>
			</a>
		</div>
		<div class="profile-img">
			<img (click)="openGithub()" src="{{ data.imgPath }}">
		</div>
	</div>
</section>