@import "../../../mixins"

img
	border-radius: 100%
	width: inherit
	height: inherit
	object-fit: cover

.profile-img
	display: inline-block
	@media only screen and (max-width: $medWidthMax) and (min-width: $medWidthMin)
		width: 170px
		height: 170px
		padding: 10px
		margin-right: 50px
	@media only screen and (max-width: $largeWidthMax) and (min-width: $largeWidthMin)
		width: 220px
		height: 220px
		padding: 10px
		margin-right: 50px
	@media only screen and (min-width: $xlargeWidthMin)
		width: 320px
		height: 320px
		padding: 15px
		margin-right: 50px
	@include hideSmall()

.about
	display: inline-block

.about-text
	padding-top: 10px
	margin-bottom: 30px

.about-section
	width: 100%
	min-height: 200px
	max-width: $maxContentWidth
	margin: 0 auto
	box-sizing: border-box

.section-header-text
	@include headerTextSize()

.btn
	background: $grey
	border-radius: 10px
	padding: 15px
	color: white
	text-decoration: none
	margin-right: 20px


