<section>
	<div class="padd flex about-section">
		<div class="profile-img">
			<img (click)="openGithub()" src="{{ data.imgPath }}">
		</div>
		<div class="about">
			<h3 class="section-header-text"> Software Engineer</h3>
			<hr class="fade">
			<p class="about-text">
				Hi, I'm {{ data.name }}, thanks for visiting my website!
				<br/><br/>
				I am a {{ data.schoolTerm }} Honours Computer Science student at the University of Waterloo. My passion lies in software development particularly in low level languages like C++, although I am proficient in Java, JavaScript, and Bash as well. My main interests lie in Operating systems development and compiler & interpreter development. I prioritize well structured, documented code that emphasises both time and space efficiancy. I am always eager to learn new concepts and technologies, currently Go lang is at the top of my list of exciting technologies to learn. Go lang excites me due to it's unique design (not a derivative of C) and as it offers unrivaled performance among languages including a garbage collector.
				<br/><br/>
				I'm <b>Looking for {{ data.internshipDate }} internship oppertunities</b>, please reach out through email or linkedIn if you feel that I would be a good fit on your team!
				<br/><br/>
				<u>Prefered Positions:</u> C++ Developer <br/>
				<u>Prefered languages:</u> C/C++ Java Bash JavaScript
			</p>
			<a (click)="openResume()" href="#" class="btn">Resume  <i class="far fa-file-alt"></i></a>
			<a (click)="openGithub()" href="#" class="btn">Github  <i class="fab fa-github"></i></a>
		</div>
	</div>
</section>