@import 'mixins'

section
	padding: 0

.footer-container
	padding: 10px
	background-color: #d6d6d6

h4, h4 > a
	color: $grey
	font-family: 'Montserrat', sans-serif
	font-weight: 700
	@include quoteTextSize()

p.made-with
	margin-top: 10px
	margin-bottom: 10px
	color: $grey
	text-align: center
	font-family: 'Montserrat', sans-serif
	font-weight: 300
	@include scaleProp(font-size, 10pt, 12pt, 12pt, 14pt, 14pt)

.footer-line
	margin-top: 50px
	margin-bottom: 25px
	color: $grey
	text-align: center
	font-family: 'Montserrat', sans-serif
	font-weight: 500
	@include quoteTextSize()
