@import 'mixins'

.section-header
	min-height: 150px
	background-image: url("../../../assets/img/codesnippet-min.jpg")
	color: white
	background-size: cover

.header-main
	@include splashTextSize()

.header-subtext
	@include quoteTextSize()