<section class="full-width text-center">
	<div *ngIf="isWork" class="content-container">
		<h1 class="section-heading">Work Experience</h1>
		<ul class="item-list">
			<app-content-item *ngFor="let item of workList" [item]="item" [isWork]="true"></app-content-item>
		</ul>
		<!-- <div class="spanner" #workSpanner></div> -->
	</div>

	<div *ngIf="isWork" class="content-container">
		<h1 class="section-heading">Projects</h1>
		<ul class="item-list">
			<app-content-item *ngFor="let item of projectList" [item]="item" [isWork]="false"></app-content-item>
		</ul>
	</div>
</section>
