<div class="fullwidth content-item">
	<div [routerLink]="[item.partialURI]" [ngClass]="getClasses()" [ngStyle]="getStyle()"
		[@projectGrow]="isWork ? null : isBigContent ? 'big' : 'smol'" (mouseover)="onMouseEnterContainer()"
		(mouseout)="onMouseLeaveContainer()">
		<div *ngIf="isWork" (click)="goToSite()" class="img-container hidden-xsmall">
			<img class="img" src="{{item.imgPath}}">
		</div>

		<div class="text">
			<div class="title-bar" *ngTemplateOutlet="isWork ? workTitle : projectTitle"></div>
			<h5 class="item-date"><i class="far fa-calendar-alt"></i> {{ getDate() }}</h5>
			<div class="content">
				<p>{{ getSplashContent() }}</p>
			</div>
			<app-tag-bar [tags]="item.tags" [css]="item.css"></app-tag-bar>
		</div>
	</div>
	<hr *ngIf="isWork" class="dashed" [ngStyle]="shouldDisplaySeparator()">
</div>

<ng-template #workTitle>
	<div (click)="goToSite()" class="img-container hidden-large">
		<img class="img" src="{{item.imgPath}}">
	</div>
	<div class="work-title">
		<h3 class="position">{{ getPosition() }}</h3>
		<h3 (click)="goToSite()" class="title title-work"> {{ getName() }}</h3>
	</div>
</ng-template>

<ng-template #projectTitle>
	<h3 class="title title-project">{{ getName() }}</h3>
</ng-template>
