@import 'mixins'

@mixin getCompanyIconSize() 
	@include scaleProp(width, 60px, 100px, 150px, 200px, 300px)
	@include scaleProp(height, 60px, 100px, 150px, 200px, 300px)
	@include scaleProp(padding, 3px, 8px, 10px, 10px, 15px)
	@include scaleProp(margin-right, 10px, 30px, 50px, 50px, 50px)

.content-item
	border-radius: 15px
	background-color: transparent


// Connect these with a subway system type thing

.img-container
	border-radius: 100%
	background-color: $grey
	@include getCompanyIconSize()
	cursor: pointer

	.img 
		display: inline-block
		object-fit: cover
		width: inherit
		height: inherit
		border-radius: 100%
		
.text
	display: inline-block
	width: 100%
	@include regularTextSize()

.title
	font-family: 'Montserrat', sans-serif
	font-weight: 700
	@include headerTextSize()

.title-bar
	display: flex
	flex-direction: row
	align-items: center
	justify-content: flex-start
	margin-bottom: 10px

.content-item-container
	border-radius: 10px
	margin: 20px
	background-size: cover
	@include applyXSmall(margin, 10px)	

.content-item-container:focus
	outline: none

.project-container
	padding: 30px
	padding-top: 90px
	padding-bottom: 90px
	background-color: #424242
	background-blend-mode: overlay
	cursor: pointer
	filter: drop-shadow(0 0 10px #0003)
	@media only screen and (max-width: $xsmallWidthMax)
		margin: 0px
		border-radius: 0

.content
	padding-top: 10px

.details-separator
	margin: 10px 0
	border: 1px solid $grey

.bullet-point
	list-style-position: outside
	margin-left: 20px

.sub-header
	text-decoration: underline
	margin-top: 5px

.hidden-xsmall
	@media only screen and (max-width: $xsmallWidthMax)
		display: none

.hidden-large
	@media only screen and (min-width: $smallWidthMin)
		display: none