.carousel
	width: 80%
	max-width: 2000px
	filter: drop-shadow(0 0 10px #0003)
	height: 40vw
	max-height: 1000px
	background-size: contain
	background-position: center center
	background-repeat: no-repeat

.flex-carousel
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	align-items: center
	justify-content: center
	margin: 30px auto

.nav-btn-right, .nav-btn-left
	z-index: 4
	padding: 30px

