<section>
	<!--These are outdated and will not work, use hammerjs for swiping action-->
	<div ng-swipe-left="showNext()" ng-swipe-right="showPrev()" class="flex-center carousel-container"
		*ngIf="slides.length > 0">
		<div (click)="showPrev()" class="nav-btn-left" *ngIf="slides.length > 1">
			<i class="fas fa-chevron-left"></i>
		</div>
		<div class="carousel">
			<img [src]="carouselBackground" />
		</div>
		<div (click)="showNext()" class="nav-btn-right" *ngIf="slides.length > 1">
			<i class="fas fa-chevron-right"></i>
		</div>
	</div>
</section>
