<div class="icon-bar-container">
	<div class="flex-center icon-bar">
		<div class="icon-container" *ngIf="hasGithub()" (click)="onElementClicked('github')"> <!-- Github Icon -->
			<p class="icon-content"><i class="icon fab fa-github"></i></p>
		</div>
		<div class="icon-container" *ngIf="hasPhone()" (click)="onElementClicked('phone')"> <!-- Phone Icon -->
			<p class="icon-content"><i class="icon fas fa-phone-alt"></i></p>
		</div>
		<div class="icon-container" *ngIf="hasLinkedIn()" (click)="onElementClicked('linkedin')"> <!-- LinkedIn Icon -->
			<p class="icon-content"><i class="icon fab fa-linkedin-in"></i></p>
		</div>
		<div class="icon-container" *ngIf="hasEmail()" (click)="onElementClicked('email')"> <!-- Email Icon -->
			<p class="icon-content"><i class="icon fas fa-envelope"></i></p>
		</div>
	</div>
</div>
