<div class="icon-bar-container">
	<div class="flex-center icon-bar">
		<div class="icon-container" (click)="onElementClicked('github')"> <!-- Github Icon -->
			<p><i class="icon fab fa-github"></i></p>
		</div>
		<div class="icon-container" (click)="onElementClicked('phone')"> <!-- Phone Icon -->
			<p><i class="icon fas fa-phone-alt"></i> 226-505-7050</p>
		</div>
	</div>
	<div class="flex-center icon-bar">
		<div class="icon-container" (click)="onElementClicked('linkedin')"> <!-- LinkedIn Icon -->
			<p><i class="icon fab fa-linkedin-in"></i></p>
		</div>
		<div class="icon-container" (click)="onElementClicked('email')"> <!-- Email Icon -->
			<p><i class="icon fas fa-envelope"></i> dapeet@uwaterloo.ca</p>
		</div>
	</div>
</div>
