@import '../../../mixins.sass'

.icon-bar-container
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center

.icon-bar
	color: white
	min-height: 70px
	min-width: 70px

.icon-container
	display: inline-block
	height: auto
	margin: 5px
	border-radius: 30px
	background-color: #2b2b2b 
	text-align: center
	padding: 10px

.icon
	@include iconTextSize()
	display: inline-block
	vertical-align: middle