<div class="icon-bar-container">
	<div class="flex-center icon-bar">
		<div class="icon-container" (click)="onElementClicked('github')"> <!-- Github Icon -->
			<p class="icon-content"><i class="icon fab fa-github"></i><span class="text"> davidpeet8</span></p>
		</div>
		<div class="icon-container" (click)="onElementClicked('phone')"> <!-- Phone Icon -->
			<p class="icon-content"><i class="icon fas fa-phone-alt"></i><span class="text">  226-505-7050</span></p>
		</div>
	</div>
	<div class="flex-center icon-bar">
		<div class="icon-container" (click)="onElementClicked('linkedin')"> <!-- LinkedIn Icon -->
			<p class="icon-content"><i class="icon fab fa-linkedin-in"></i><span class="text"> dapeet</span></p>
		</div>
		<div class="icon-container" (click)="onElementClicked('email')"> <!-- Email Icon -->
			<p class="icon-content"><i class="icon fas fa-envelope"></i><span class="text">  dapeet@uwaterloo.ca</span></p>
		</div>
	</div>
</div>
