@import '../../../mixins.sass'

.icon-bar
	color: white
	min-height: 70px
	min-width: 70px

.icon-container
	display: inline-block
	height: auto
	margin: 5px
	border-radius: 100%
	background-color: #2b2b2b 
	text-align: center

.icon
	@include iconTextSize()
	padding: 10px