@import './variables'

@mixin scaleProp($propname, $xsval, $sval, $mval, $lval, $xlval)
	@media only screen and (max-width: $xsmallWidthMax)
		#{$propname}: $xsval
	@media only screen and (max-width: $smallWidthMax) and (min-width: $smallWidthMin)
		#{$propname}: $sval
	@media only screen and (max-width: $medWidthMax) and (min-width: $medWidthMin)
		#{$propname}: $mval
	@media only screen and (min-width: $largeWidthMin) and (max-width: $largeWidthMax)
		#{$propname}: $lval
	@media only screen and (min-width: $xlargeWidthMin)
		#{$propname}: $xlval

@mixin applyXSmall($prop, $val)
	@media only screen and (max-width: $xsmallWidthMax)
		#{$prop}: $val

@mixin applySmall($prop, $val)
	@media only screen and (max-width: $smallWidthMax)
		#{$prop}: $val

@mixin applyLarge($prop, $val)
	@media only screen and (max-width: $largeWidthMax)
		#{$prop}: $val

@mixin hideSmall()
	@include applySmall(display, none)

@mixin hideMedium()
	@media only screen and (max-width: $medWidthMax) and (min-width: $medWidthMin)
		display: none

@mixin hideLarge()
	@media only screen and (min-width: $largeWidthMin)
		display: none

@mixin scalePadding($paddingSmall, $paddingMed, $paddingLarge) 
	@include scaleProp(padding-top, $paddingSmall, $paddingSmall, $paddingMed, $paddingLarge, $paddingLarge)
	@include scaleProp(padding-left, $paddingSmall, $paddingSmall, $paddingMed, $paddingLarge, $paddingLarge)
	@include scaleProp(padding-right, $paddingSmall, $paddingSmall, $paddingMed, $paddingLarge, $paddingLarge)

@mixin regularTextSize()
	@include scaleProp(font-size, 10pt, 11pt, 12pt, 14pt, 16pt)

@mixin sectionHeaderTextSize()
	@include scaleProp(font-size, 16pt, 20pt, 25pt, 40pt, 40pt)

@mixin headerTextSize()
	@include scaleProp(font-size, 14pt, 18pt, 20pt, 30pt, 30pt)

@mixin splashTextSize() 
	@include scaleProp(font-size, 35pt, 40pt, 70pt, 70pt, 70pt)

@mixin quoteTextSize()
	@include scaleProp(font-size, 14pt, 14pt, 20pt, 20pt, 20pt)

@mixin iconSize() 
	@include scaleProp(font-size, 14pt, 14pt, 20pt, 20pt, 20pt)

@mixin iconTextSize() 
	@include scaleProp(font-size, 12pt, 12pt, 18pt, 18pt, 18pt)

@mixin flex($contentJustification)
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: $contentJustification
	align-items: center
