// Global styles
@import './mixins'

*
	margin: 0
	padding: 0
	@include regularTextSize()

body
	background: rgb(225,255,247)
	background: linear-gradient(45deg, rgba(225,255,247,1) 0%, rgba(223,255,254,1) 18%, rgba(224,243,255,1) 37%, rgba(220,225,255,1) 58%, rgba(236,221,255,1) 78%, rgba(248,220,255,1) 100%)
	// background: rgb(255,157,197)
	// background: linear-gradient(40deg, rgba(255,157,197,1) 0%, rgba(255,173,229,1) 18%, rgba(219,155,255,1) 40%, rgba(144,139,255,1) 60%, rgba(133,189,255,1) 81%, rgba(166,255,249,1) 100%)

section
	width: 100%
	font-size: 13pt
	padding-top: 10px
	font-family: 'Quicksand', sans-serif

.text-center
	text-align: center

.full-width
	width: 100%

.full-height
	height: 100%

.padd
	padding: 20px

.section-header
	font-family: 'Montserrat', sans-serif 
	font-weight: 500
	margin: 0

.section-header-text
	font-family: 'Montserrat', sans-serif
	font-weight: 500
	font-size: 30pt

hr.fade 
	border: 0
	height: 1px
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))


.header-main
	font-size: 5rem

.flex
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: space-around
	align-items: center

.flex-center
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: center
	align-items: center

.flex-left
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: flex-start
	align-items: center

.flex-right
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: flex-end
	align-items: center

