<div class="modal" (click)="closeModal()">
	<div class="modal-content" (click)="stopPropagation($event)">
		<p class="close" (click)="closeModal()" >&times;</p>
		<div class="content">
			<h1 class="title">{{getProject()}}</h1>
			<img src="{{getImg()}}" />
			<div class="description">
				<h3>Description:</h3>
				<p>{{getDescription()}}</p>
			</div>
			<div class="improvements">
				<h3>Current State & Future Improvements:</h3>
				<p>{{getImprovements()}}</p>
			</div>
		</div>
	</div>
</div>
