<div class="modal" (click)="closeModal()">
	<div class="modal-content" (click)="stopPropagation($event)">
		<p class="close" (click)="closeModal()" >&times;</p>
		<div class="content">
			<h1 class="title">{{getProject()}}</h1>
			<h3 class="date">
				<i class="far fa-calendar-alt"></i>
				<p class="inline" innerHTML=" {{getDate()}}   |   {{getTags()}}"></p>
			</h3>
			<app-carousel [slides]='getSlides()'></app-carousel>
			<div class="description">
				<h3>Description:</h3>
				<p innerHTML="{{getDescription()}}"></p>
			</div>
			<div class="flex-row">
				<div class="details">
					<h3>Details:</h3>
					<ul>
						<li *ngFor="let bullet of getDetails()" [innerHTML]="sanitizer.bypassSecurityTrustHtml(bullet)"></li>
					</ul>
				</div>
				<div class="improvements">
					<h3>Future Improvements:</h3>
					<ul>
						<li *ngFor="let bullet of getImprovements()" [innerHTML]="sanitizer.bypassSecurityTrustHtml(bullet)"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
